html, body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

html, body.login-body {
  padding-top: 0 !important;
}

@media (max-width: 600px) {
  body{
    padding-top: 40px;
  }
}